.box {
    width: 400px;
    margin: auto;
}

td {
    padding-right: 1em;
    padding-left: 1em;
}

#main-t {
    margin: auto;
}

#box-page {
    /* width: 400px; */
    padding: 3em;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: auto; */
}