<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a href="/"> <span> {{title}} </span> </a>
        <button mat-button [routerLink]="['/offers-home', 'all']">Offers</button>
        <button mat-button [routerLink]="['/offers-home-mine', 'mine']" *ngIf="authService.getRole() == 'ROLE_USER'">My Offers</button>
        <button mat-button routerLink="/add-new" *ngIf="authService.getRole() == 'ROLE_USER'">Add new</button>
        
        <span class="menu-spacer"></span>

        <div>
            <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login">
                <mat-icon>login</mat-icon>
                Log In
            </button>
            <button mat-button (click)="logout()" *ngIf="authService.isLoggedIn()" id='signOutButton'>Sign out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>